<!DOCTYPE html>
<html>

<head>
  <title>Error 404 Not Found ! </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
</head>

<body>
  <div class="row">
    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center text-white vh-100">
      <h1>404</h1>
      <h4>Page not found</h4>
      <p>The requested url was not found on this server</p>
      <a (click)="sendToHome($event)"><div id="backText">Back To Home</div></a>
    </div>
  </div>
</body>
</html>
