body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background: url("../../assets/themeForCounter/img/bg.jpg") top center no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}
body::before {
  background: rgba(49, 71, 89, 0.6);
}

.row {
  margin: 0;
}

a {
  border: 0px;
  padding: 10px;
  background-color: #24b7a4;
  font-family: "Raleway", sans-serif;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
}

a:hover {
  background-color: #0f7063;
  border-color: white;
  text-decoration: none;
}


a {
  text-decoration: none;
}

#backText:hover {
  color: white;
}

h1 {
  font-size: 180px;
}

h4 {
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
